:root {
  --primary-dark: '#424242';
  --primary-light: '#9E9E9E';
  --primary-hover: '#26C6DA';
  --mobile: '576px';
}

html, body {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  height: auto;
  width: 10rem;
}

div {
  text-align: center;
}

small {
  display: block;
}
a {
  color: var(--primary-hover);
  text-decoration: none;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  height: 5vh;
}

.coupon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 2rem;
  border-radius: 10px;
  background-color: #26C6DA;
  width: 4rem;
  height: 2rem;
  color: #ffffff;
}

.coupon-link a:hover {
  color: #424242;
}

/* main */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 75vw;
  height: 85vh;
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  overflow-y: auto;
}

/* banner */
.banner-container {
  width: 70vw;
  margin: .5rem;
}

.banner-container img {
  width: 69vw;
  border-radius: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #B5B6B1;
}

.second-child {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: .7rem;
}

/* Main section */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75vw;
}

.card {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 12rem;
  margin: 20px 10px;
}

.card h1 {
  font-size: 14px;
  margin: .5rem .2rem .3rem .2rem;
}

.card p {
  margin: .3rem;
  font-size: 13px;
}

/* coupon-section */
.coupon-section {
  width: 75vw;
  height: 85vh;
  margin: 10px;
  padding: 5px;
  display: flex;
  background-color: #ffffff;
  flex-direction: column; 
  align-items: center;
}
  .banner-container {
    width: 70vw;
  }
  .banner-container img {
    width: 69vw;
    border-radius: 0;
  }
  .coupon {
    border: 2px dashed #212121;
    width: 45vw;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
  }

  .coupon h1 {
    color: #FF5252;
    margin-bottom: .5px;
  }

  .coupon h3 {
    margin-top: 2px;
    color: #424242
  }

  .coupon p {
    margin: 5px auto;
  }

.thumbs-wrapper {
  display: none;
}
.carousel-status {
  display: none;
}

/* Not Found */
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


@media (min-width: 640px) {
  .second-child {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: .7rem;
  }
  .carousel-root {
    width: 68vw;
  }
  .coupon {
    height: 55vh;
  }
}

@media (max-width: 640px) {
  section {
    width: 85vw;
  }
  .banner-container {
    width: 80vw;
  }
  .banner-container img {
    width: 79vw;
    border-radius: 0;
  }
  .second-child {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
  }
  .carousel-root {
    width: 70vw;
  }
  .row {
    flex-direction: column;
    align-items: center;
    margin-top: .7rem;
  }
  .card {
    width: 100%;
    margin: 8px 10px;
    border: none;
  }
  .coupon {
    height: 60vh;
    width: 75vw;
  }

}